.vscode/**
.vscode-test/**
src/**/*.ts
src/utils/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
.eslintrc.json
**/*.map
__lwr_cache__/**
*.log
npm-debug.log*
.DS_Store
**/.github/**
**/.git/**
**/test/**
**/tests/**
**/*.test.js
**/*.spec.js
**/coverage/**
**/.nyc_output/**
**/docs/**
!README.md
**/examples/**
**/.editorconfig
**/.prettierrc
**/.prettierignore
src/modules/c/**

# Exclude raw lwr-base-project from VSIX; we ship a zip instead
lwr-base-project/**
!lwr-base-project.zip