.vscode/**
.vscode-test/**
src/**/*.ts
src/utils/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
.eslintrc.json
**/*.map
node_modules/**
__lwr_cache__/**
*.log
npm-debug.log*
.DS_Store
**/.github/**
**/.git/**
**/test/**
**/tests/**
**/*.test.js
**/*.spec.js
**/coverage/**
**/.nyc_output/**
**/docs/**
!README.md
**/examples/**
**/.editorconfig
**/.prettierrc
**/.prettierignore
src/modules/c/**

# Exclude cache from lwr-base-project (node_modules will be packaged)
lwr-base-project/__lwr_cache__/**